.button-instance-pink {
    background-color: #ffede8; /* Soft pink background */
    border: 1px solid #ff5d48; /* Stroke color */
    color: #ff5d48; /* Text color */
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button-instance-pink:hover {
    background-color: #ff5d48;
    border: 1px solid #ffede8; /* Stroke color */
    color: #ffede8;
}

.location-pin {
    height: 52px;
    position: relation;
    width: 44px;
}

.location-pin .vector {
    height: 18px;
    left: 21px;
    position: absolute;
    top: 14px;
    width: 11px;
}

.button-pink-text {
    color: #ff5d48; /* Text color */
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: white;
}

.button-pink-text:hover {
    background-color: white;
    color: var(--light-pink);
    border-color: white;
}
